/*---------------------------- font ----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Solway:400,500,700|Varela+Round&display=swap');

/*---------------------------- header ----------------------------*/
/*---------------------------- header ----------------------------*/

.wrap-container--header{
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 3px 6px #C1C3C736;
    /* position: relative; */

}

 .company-name{
    font-family: "Roboto";
    font-size: 25px;
}

/*
.blok-header{
    
} */

.header-nav{
    display: table;
    margin-left: auto;
}

.header-nav__list{
    margin: 0;
}

.header-nav__list li{    
    display: inline-block;
    vertical-align: middle;
}

.header-nav__list li a{
    font-family: "Roboto";
    font-size: 15px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #2c413ff3
}

.header-nav__list li a:hover,
.header-nav__list li .active-page {
    color: #f12875d0;
}

.page-title{
    text-align: center;
    color: white;
    padding: 10px 60px;
}
.page-title-background{
    background-color: #39bcc5;
    margin: 0;
    margin-bottom: 50px;
}

.page-title h1{
    font-family: "Roboto";
    font-size: 32px;
    margin : auto;
}

.company-logo{
    padding-top: 30px;
}

.wrap-body--base {
    margin-top: 60px;
}

/*---------------------------- EOF header ----------------------------*/

.wrap-base--content {
    margin-top: 60px;
}


/*---------------------------- index ----------------------------*/


/*---------------------------- EOF index----------------------------*/


/*---------------------------- font reference ----------------------------*/
/* font-family: 'Bebas Neue', cursive;
font-family: 'Solway', serif;
font-family: 'Varela Round', sans-serif; */

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}